<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digit Recognizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Draw a Digit (0-9)</h1>
        <canvas id="canvas" width="400" height="400"></canvas>
        <div class="buttons">
            <button onclick="clearCanvas()">Clear</button>
            <button onclick="predict()">Predict</button>
        </div>
        <div id="predictions"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>